body {
  font-family: 'Merriweather', serif;
  background-color: black;
  font-size: 20px;
  color: black;
}

.main {
  background:  linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2)), url("../img/stones.jpg");
  background-size: 100% 115%;
  background-repeat: no-repeat;
  height: 300px;
  width: 400px;
  margin: 50px auto 0 auto;
  padding: 15px 15px;
}

input {
  margin: 5px 0px 10px 0;
  width: 100px;
  border: 2px solid black;
  text-align: center;
  box-shadow: 1px 1px 1px gray;
}

#output {
  background-color: white;
  width: 325px;
  height: 45px;
  margin: 15px auto 0;
  border: 2px solid black;
  padding: 5px;
  box-shadow: 1px 1px 1px gray;
}

#textOutput {
  font-size: 25px;
}

#submit {
  border: 2px solid black;
  margin: 0 0 5px 0;
  background-color: #fff9e6;
  color: black;
  box-shadow: 1px 1px 1px gray;
}